body{
    background-color:aliceblue;
}
.tbl_results {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tbl_results td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.tbl_results tr:nth-child(even) {
    background-color: #dddddd;
}


